* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 125%;
    background-color: #F5F5F5;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}