.welcomeOuter {
    display: flex;   
    padding-top: 200px;
}
.openDiagram {
    width:50%;
    display: flex;
    justify-content: center;
}
.welcomeImg {
    width: 100%;
}
.welcomeTab{
    margin: 3rem;
    width: 80%;
}
.welcomeTabContainer {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.welcomeTabContainer button {
    border: none;
    background-color: transparent;
}
.tabActive {
    text-decoration: underline;
    border-bottom: solid 2px #3A3B3C;
}
// .welcomeActive {
//     text-decoration: underline;
// }
// .welcomeContainer {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     width: 50%;
//     align-self: center;
//     padding: 70px;
// }
// .welcomeForm legend {
//     margin-top: 30px;
// }
.signContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonContainer {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.signContainer input {
    border: none;
    background-color: #FFE5D9 ;
    width: 80%;
    margin: 2px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
}
.signContainer button {
    border: none;
    background-color: #F5F5F5;
    padding-top: 10px;
    font-size: 2.5rem;
}